body{
    background-color:#ccc;
} 
.rules{
    width: 200px;
    height:200px; 
    margin:25%;
}

.selections{ 
    display: flex;
    justify-content: center;
}

.btnchoice{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    transition: 100ms;
} 

.btnchoice:hover{
    transform: scale(1,2);
} 

.results{
    margin-top: 1rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.result-score{
    margin-left: 1rem;
    font-size: .5rem;
    color: #333;
} 

result-selection{
    opacity: .5;
} 
result-selection.winner{
    opacity: 1;
    font-size: 1.5rem;
}